h1 {
	text-align: center;
	color: hotpink;
}

h3 {
	text-align: center;
	color: darkred;
}
#jaggu{
	color: blue;
}
.abc {
	background: lightgrey;
}
.xyz {
	background: lightpink;	
}
.mno {
	background: lightgreen;
}
.clr {
	background: yellow;
}